body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'MedievalSharp', sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.left-side {
  flex: 60%;
  background-color: rgba(200, 0, 0, 0.8);
  background-image: url('/static/texture2.jpg');
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Added to stack the buttons */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0;
}

.right-side {
  flex: 40%;
  background-image: url("{{ url_for('static',filename='bg1.jpg') }}");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.tavern-image {
  width: 125%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

header {
  position: fixed;
  margin-bottom: 450px;
  text-shadow:
    -2px -2px 0 #eaea0b,
    2px -2px 0 #eaea0b,
    -2px 2px 0 #eaea0b,
    2px 2px 0 #eaea0b;
}

.title {
  font-size: 5rem;
  color: #1a1a1a;
}

.subtitle {
  font-size: 2.5rem; /* Adjust font size as needed */
  color: #1a1a1a;
  font-weight: bold;
  padding-top: 50px;
  text-shadow:
    -0.7px -0.7px 0 #eaea0b,
    0.7px -0.7px 0 #eaea0b,
    -0.7px 0.7px 0 #eaea0b,
    0.7px 0.7px 0 #eaea0b;
}

/* Button styles */
.button-container {
  margin-top: 20px; /* Adjust margin top as needed */
}
.button-container button {
  margin: 0 10px; /* Adjust margin between buttons */
  padding: 10px 20px; /* Adjust button padding */
  font-size: 1.2rem; /* Adjust button font size */
  font-family: 'MedievalSharp', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #eaea0b; /* Button background color */
  color: #a1a1a; /* Button text color */
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-container button:hover {
  background-color: #c0c021; /* Button background color on hover */
}

.input-container {
  margin-bottom: 20px; /* Add space between input fields */
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
  width: 100%; /* Make input fields wider */
  padding: 10px; /* Increase padding for better spacing */
  border-radius: 10px; /* Add rounded corners */
  border: 1px solid #ccc; /* Add border for better visibility */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}
