<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Timeless Inn</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap">
<link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <div class="left-side">
      <header>
        <h1 class="title">Timeless Inn</h1>
      </header>
      <p class="subtitle">A very confortable place for you to store all your D&D characters (comfortably) and all its memories and glorious achievements! Don’t be shy, take a sit next to the fire and let the bards sing all your glories from past adventures.</p>
      <div class="button-container">
        <button>Login</button>
        <button id="register-btn">Register</button>
      </div>
    </div>
    <div class="right-side">
      <img class="tavern-image" src="{{ url_for('static', filename='inn.png') }}" alt="Medieval Tavern">
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
